.features{
	&--inverse{
		&__title , &__description{
			color: #fff;
		}
	}
	&--pd-bot{
		padding-bottom: 60px;
	}
	&__wrapper-icon{
		width: 106px;
		height: 106px;
		background: $brand-color;
		display: inline-block;
		border-radius: 50%;
		&--mg-right{
			margin-right: 25px;
		}
		&--smaller{
			width: 70px;
			height: 70px;
		}
	}
	&__icon{
		color: #fff;
		font-size: 38px;
		z-index: 99;
		line-height: 106px;
		&--without-circle{
			color: $brand-color;
			line-height: normal;
			font-size: 45px;
		}
		&--smaller{
			font-size: 28px;
			line-height: 70px;
		}
	}
	&__text-block{
		&--overflow{
			overflow: hidden;
		}
	}
	&__title{
		color: $bg-4;
		font-weight: 700;
		text-transform: uppercase;
		&--normal {
			font-weight: 400;
			color: #515151;
			margin-top: 0;
		}
	}
	&__description{
		font-weight: 300;
		line-height: 25px;
	}
}
.has-active{
	.features__wrapper-icon{
		background: transparent ;
		border: 1px solid $bg-4;
	}
	.features__icon{
		color: $brand-color ;
	}
}
.features--inverse{
		.features__title , .features__description{
			color: #fff;
		}
}