.social-list{
	&--mg-bot{
		margin-bottom: 25px;
	}
	&__item{
		display: inline-block;
		padding-right: 20px;
	}
	&__link{
		
	}
	&__icon{
		font-size: 17px;
		color: #fff;
		display: inline-block;	
		transition: all 0.4s;
		&:hover{
			color: $brand-color;
			transition: all 0.4s;
		}
	}
}