.navbar {
  position: relative;
  padding: $section-padding-sm;
  @include clearfix;
}
// Brand/project name

.navbar-brand {
  float: left;
  line-height: 1.1;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  > img {
    display: block;
  }
}
// Navbar nav links
//
// Builds on top of the `.nav` components with its own modifier class to make
// the nav the full height of the horizontal nav (above 768px).

.navbar-nav {
  > li {
    position: relative;
  }  
  > li + li:before {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: $link-color;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  > li > a {
    padding:  10px 26px;
    //line-height: $line-height-computed;
    color: #fff;
    font-weight: 700;
    font-size:   $font-size-h6;
    text-transform: uppercase;
    text-decoration: none;
        &:hover,
        &:focus {
          color: $link-color;
        }    
  }

  @media (max-width: 720px) {
    // Dropdowns get custom display when collapsed
    .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      box-shadow: none;
      > li > a {
        //line-height: $line-height-computed;
        &:hover,
        &:focus {
          background-image: none;
        }
      }
    }
  }

  // Uncollapse the nav
  @media (min-width: 720px) {
    float: right;
    margin: 20px 0;

    > li {
      float: left;
      > a {
        padding-top:    $section-padding-sm;
        padding-bottom: $section-padding-sm;
      }
    }
  }  
}
.portfolio {
  .portfolio__list{
      position: relative;
      padding: $section-padding-sm;
      font-size: 0;
        > li {
          position: relative;
          display: inline-block;
        }  
        > li + li:before {
          content: '';
          position: absolute;
          width: 5px;
          height: 5px;
          background-color: $link-color;
          top: 0;
          bottom: 0;
          margin: auto;
        }
        > li > a {
          padding:  10px 26px;
          //line-height: $line-height-computed;
          color: #515151;
          font-weight: 400;
          font-size:   $font-size-h5;
          text-transform: uppercase;
          text-decoration: none;
              &:hover,
              &:focus {
                color: $link-color;
              }    
        }

  }
}