@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  font-family: Oswald, Arial, Helvetica, Tahoma, sans-serif;
  font-size: 16px;
  color: #707070;
  background: #fff; }

a {
  color: #ffe600; }
  a:hover {
    color: #ccb800;
    text-decoration: underline; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

p {
  line-height: 1.56;
  font-weight: 300;
  color: inherit; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 700;
  line-height: 1.1;
  color: inherit; }

h1, .h1 {
  font-size: 65px;
  margin: 30px 0; }

h2, .h2 {
  font-size: 30px;
  margin: 20px 0; }

h3, .h3 {
  font-size: 25px;
  margin: 0 0 20px 0; }

h4, .h4 {
  font-size: 20px;
  margin: 25px 0; }

h5, .h5 {
  font-size: 16px;
  margin: 0 0 10px 0; }

h6, .h6 {
  font-size: 14px;
  margin: 2px 0; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.text-nowrap {
  white-space: nowrap; }

.text-uppercase {
  text-transform: uppercase; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.hidden-xs-up {
  display: none !important; }

@media (max-width: 479.9px) {
  .hidden-xs-down {
    display: none !important; } }

@media (min-width: 480px) {
  .hidden-sm-up {
    display: none !important; } }

@media (max-width: 719.9px) {
  .hidden-sm-down {
    display: none !important; } }

@media (min-width: 720px) {
  .hidden-md-up {
    display: none !important; } }

@media (max-width: 959.9px) {
  .hidden-md-down {
    display: none !important; } }

@media (min-width: 960px) {
  .hidden-lg-up {
    display: none !important; } }

@media (max-width: 1169.9px) {
  .hidden-lg-down {
    display: none !important; } }

@media (min-width: 1170px) {
  .hidden-xl-up {
    display: none !important; } }

.hidden-xl-down {
  display: none !important; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  .container--collapse {
    padding-left: 0;
    padding-right: 0; }
  @media (min-width: 480px) {
    .container {
      max-width: 480px; } }
  @media (min-width: 720px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 960px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1170px) {
    .container {
      max-width: 1140px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container-fluid:before, .container-fluid:after {
    content: " ";
    display: table; }
  .container-fluid:after {
    clear: both; }
  .container-fluid--collapse {
    padding-left: 0;
    padding-right: 0; }

.row {
  margin-left: -15px;
  margin-right: -15px; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }
  .row--collapse {
    margin-left: 0;
    margin-right: 0; }
    .row--collapse > [class*='col-'] {
      padding-left: 0;
      padding-right: 0; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-1 {
  width: 8.33333%; }
  .col-xs-1.col-xs-1--right {
    float: right; }

.col-xs-2 {
  width: 16.66667%; }
  .col-xs-2.col-xs-2--right {
    float: right; }

.col-xs-3 {
  width: 25%; }
  .col-xs-3.col-xs-3--right {
    float: right; }

.col-xs-4 {
  width: 33.33333%; }
  .col-xs-4.col-xs-4--right {
    float: right; }

.col-xs-5 {
  width: 41.66667%; }
  .col-xs-5.col-xs-5--right {
    float: right; }

.col-xs-6 {
  width: 50%; }
  .col-xs-6.col-xs-6--right {
    float: right; }

.col-xs-7 {
  width: 58.33333%; }
  .col-xs-7.col-xs-7--right {
    float: right; }

.col-xs-8 {
  width: 66.66667%; }
  .col-xs-8.col-xs-8--right {
    float: right; }

.col-xs-9 {
  width: 75%; }
  .col-xs-9.col-xs-9--right {
    float: right; }

.col-xs-10 {
  width: 83.33333%; }
  .col-xs-10.col-xs-10--right {
    float: right; }

.col-xs-11 {
  width: 91.66667%; }
  .col-xs-11.col-xs-11--right {
    float: right; }

.col-xs-12 {
  width: 100%; }
  .col-xs-12.col-xs-12--right {
    float: right; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-pull-1 {
  right: 8.33333%; }

.col-xs-pull-2 {
  right: 16.66667%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-4 {
  right: 33.33333%; }

.col-xs-pull-5 {
  right: 41.66667%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-7 {
  right: 58.33333%; }

.col-xs-pull-8 {
  right: 66.66667%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-10 {
  right: 83.33333%; }

.col-xs-pull-11 {
  right: 91.66667%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-push-1 {
  left: 8.33333%; }

.col-xs-push-2 {
  left: 16.66667%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-4 {
  left: 33.33333%; }

.col-xs-push-5 {
  left: 41.66667%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-7 {
  left: 58.33333%; }

.col-xs-push-8 {
  left: 66.66667%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-10 {
  left: 83.33333%; }

.col-xs-push-11 {
  left: 91.66667%; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-offset-0 {
  margin-left: 0%; }

.col-xs-offset-1 {
  margin-left: 8.33333%; }

.col-xs-offset-2 {
  margin-left: 16.66667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.33333%; }

.col-xs-offset-5 {
  margin-left: 41.66667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.33333%; }

.col-xs-offset-8 {
  margin-left: 66.66667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.33333%; }

.col-xs-offset-11 {
  margin-left: 91.66667%; }

.col-xs-offset-12 {
  margin-left: 100%; }

@media (min-width: 480px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }
  .col-sm-1 {
    width: 8.33333%; }
    .col-sm-1.col-sm-1--right {
      float: right; }
  .col-sm-2 {
    width: 16.66667%; }
    .col-sm-2.col-sm-2--right {
      float: right; }
  .col-sm-3 {
    width: 25%; }
    .col-sm-3.col-sm-3--right {
      float: right; }
  .col-sm-4 {
    width: 33.33333%; }
    .col-sm-4.col-sm-4--right {
      float: right; }
  .col-sm-5 {
    width: 41.66667%; }
    .col-sm-5.col-sm-5--right {
      float: right; }
  .col-sm-6 {
    width: 50%; }
    .col-sm-6.col-sm-6--right {
      float: right; }
  .col-sm-7 {
    width: 58.33333%; }
    .col-sm-7.col-sm-7--right {
      float: right; }
  .col-sm-8 {
    width: 66.66667%; }
    .col-sm-8.col-sm-8--right {
      float: right; }
  .col-sm-9 {
    width: 75%; }
    .col-sm-9.col-sm-9--right {
      float: right; }
  .col-sm-10 {
    width: 83.33333%; }
    .col-sm-10.col-sm-10--right {
      float: right; }
  .col-sm-11 {
    width: 91.66667%; }
    .col-sm-11.col-sm-11--right {
      float: right; }
  .col-sm-12 {
    width: 100%; }
    .col-sm-12.col-sm-12--right {
      float: right; }
  .col-sm-pull-0 {
    right: auto; }
  .col-sm-pull-1 {
    right: 8.33333%; }
  .col-sm-pull-2 {
    right: 16.66667%; }
  .col-sm-pull-3 {
    right: 25%; }
  .col-sm-pull-4 {
    right: 33.33333%; }
  .col-sm-pull-5 {
    right: 41.66667%; }
  .col-sm-pull-6 {
    right: 50%; }
  .col-sm-pull-7 {
    right: 58.33333%; }
  .col-sm-pull-8 {
    right: 66.66667%; }
  .col-sm-pull-9 {
    right: 75%; }
  .col-sm-pull-10 {
    right: 83.33333%; }
  .col-sm-pull-11 {
    right: 91.66667%; }
  .col-sm-pull-12 {
    right: 100%; }
  .col-sm-push-0 {
    left: auto; }
  .col-sm-push-1 {
    left: 8.33333%; }
  .col-sm-push-2 {
    left: 16.66667%; }
  .col-sm-push-3 {
    left: 25%; }
  .col-sm-push-4 {
    left: 33.33333%; }
  .col-sm-push-5 {
    left: 41.66667%; }
  .col-sm-push-6 {
    left: 50%; }
  .col-sm-push-7 {
    left: 58.33333%; }
  .col-sm-push-8 {
    left: 66.66667%; }
  .col-sm-push-9 {
    left: 75%; }
  .col-sm-push-10 {
    left: 83.33333%; }
  .col-sm-push-11 {
    left: 91.66667%; }
  .col-sm-push-12 {
    left: 100%; }
  .col-sm-offset-0 {
    margin-left: 0%; }
  .col-sm-offset-1 {
    margin-left: 8.33333%; }
  .col-sm-offset-2 {
    margin-left: 16.66667%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-4 {
    margin-left: 33.33333%; }
  .col-sm-offset-5 {
    margin-left: 41.66667%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-7 {
    margin-left: 58.33333%; }
  .col-sm-offset-8 {
    margin-left: 66.66667%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-10 {
    margin-left: 83.33333%; }
  .col-sm-offset-11 {
    margin-left: 91.66667%; }
  .col-sm-offset-12 {
    margin-left: 100%; } }

@media (min-width: 720px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }
  .col-md-1 {
    width: 8.33333%; }
    .col-md-1.col-md-1--right {
      float: right; }
  .col-md-2 {
    width: 16.66667%; }
    .col-md-2.col-md-2--right {
      float: right; }
  .col-md-3 {
    width: 25%; }
    .col-md-3.col-md-3--right {
      float: right; }
  .col-md-4 {
    width: 33.33333%; }
    .col-md-4.col-md-4--right {
      float: right; }
  .col-md-5 {
    width: 41.66667%; }
    .col-md-5.col-md-5--right {
      float: right; }
  .col-md-6 {
    width: 50%; }
    .col-md-6.col-md-6--right {
      float: right; }
  .col-md-7 {
    width: 58.33333%; }
    .col-md-7.col-md-7--right {
      float: right; }
  .col-md-8 {
    width: 66.66667%; }
    .col-md-8.col-md-8--right {
      float: right; }
  .col-md-9 {
    width: 75%; }
    .col-md-9.col-md-9--right {
      float: right; }
  .col-md-10 {
    width: 83.33333%; }
    .col-md-10.col-md-10--right {
      float: right; }
  .col-md-11 {
    width: 91.66667%; }
    .col-md-11.col-md-11--right {
      float: right; }
  .col-md-12 {
    width: 100%; }
    .col-md-12.col-md-12--right {
      float: right; }
  .col-md-pull-0 {
    right: auto; }
  .col-md-pull-1 {
    right: 8.33333%; }
  .col-md-pull-2 {
    right: 16.66667%; }
  .col-md-pull-3 {
    right: 25%; }
  .col-md-pull-4 {
    right: 33.33333%; }
  .col-md-pull-5 {
    right: 41.66667%; }
  .col-md-pull-6 {
    right: 50%; }
  .col-md-pull-7 {
    right: 58.33333%; }
  .col-md-pull-8 {
    right: 66.66667%; }
  .col-md-pull-9 {
    right: 75%; }
  .col-md-pull-10 {
    right: 83.33333%; }
  .col-md-pull-11 {
    right: 91.66667%; }
  .col-md-pull-12 {
    right: 100%; }
  .col-md-push-0 {
    left: auto; }
  .col-md-push-1 {
    left: 8.33333%; }
  .col-md-push-2 {
    left: 16.66667%; }
  .col-md-push-3 {
    left: 25%; }
  .col-md-push-4 {
    left: 33.33333%; }
  .col-md-push-5 {
    left: 41.66667%; }
  .col-md-push-6 {
    left: 50%; }
  .col-md-push-7 {
    left: 58.33333%; }
  .col-md-push-8 {
    left: 66.66667%; }
  .col-md-push-9 {
    left: 75%; }
  .col-md-push-10 {
    left: 83.33333%; }
  .col-md-push-11 {
    left: 91.66667%; }
  .col-md-push-12 {
    left: 100%; }
  .col-md-offset-0 {
    margin-left: 0%; }
  .col-md-offset-1 {
    margin-left: 8.33333%; }
  .col-md-offset-2 {
    margin-left: 16.66667%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-4 {
    margin-left: 33.33333%; }
  .col-md-offset-5 {
    margin-left: 41.66667%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-7 {
    margin-left: 58.33333%; }
  .col-md-offset-8 {
    margin-left: 66.66667%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-10 {
    margin-left: 83.33333%; }
  .col-md-offset-11 {
    margin-left: 91.66667%; }
  .col-md-offset-12 {
    margin-left: 100%; } }

@media (min-width: 960px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }
  .col-lg-1 {
    width: 8.33333%; }
    .col-lg-1.col-lg-1--right {
      float: right; }
  .col-lg-2 {
    width: 16.66667%; }
    .col-lg-2.col-lg-2--right {
      float: right; }
  .col-lg-3 {
    width: 25%; }
    .col-lg-3.col-lg-3--right {
      float: right; }
  .col-lg-4 {
    width: 33.33333%; }
    .col-lg-4.col-lg-4--right {
      float: right; }
  .col-lg-5 {
    width: 41.66667%; }
    .col-lg-5.col-lg-5--right {
      float: right; }
  .col-lg-6 {
    width: 50%; }
    .col-lg-6.col-lg-6--right {
      float: right; }
  .col-lg-7 {
    width: 58.33333%; }
    .col-lg-7.col-lg-7--right {
      float: right; }
  .col-lg-8 {
    width: 66.66667%; }
    .col-lg-8.col-lg-8--right {
      float: right; }
  .col-lg-9 {
    width: 75%; }
    .col-lg-9.col-lg-9--right {
      float: right; }
  .col-lg-10 {
    width: 83.33333%; }
    .col-lg-10.col-lg-10--right {
      float: right; }
  .col-lg-11 {
    width: 91.66667%; }
    .col-lg-11.col-lg-11--right {
      float: right; }
  .col-lg-12 {
    width: 100%; }
    .col-lg-12.col-lg-12--right {
      float: right; }
  .col-lg-pull-0 {
    right: auto; }
  .col-lg-pull-1 {
    right: 8.33333%; }
  .col-lg-pull-2 {
    right: 16.66667%; }
  .col-lg-pull-3 {
    right: 25%; }
  .col-lg-pull-4 {
    right: 33.33333%; }
  .col-lg-pull-5 {
    right: 41.66667%; }
  .col-lg-pull-6 {
    right: 50%; }
  .col-lg-pull-7 {
    right: 58.33333%; }
  .col-lg-pull-8 {
    right: 66.66667%; }
  .col-lg-pull-9 {
    right: 75%; }
  .col-lg-pull-10 {
    right: 83.33333%; }
  .col-lg-pull-11 {
    right: 91.66667%; }
  .col-lg-pull-12 {
    right: 100%; }
  .col-lg-push-0 {
    left: auto; }
  .col-lg-push-1 {
    left: 8.33333%; }
  .col-lg-push-2 {
    left: 16.66667%; }
  .col-lg-push-3 {
    left: 25%; }
  .col-lg-push-4 {
    left: 33.33333%; }
  .col-lg-push-5 {
    left: 41.66667%; }
  .col-lg-push-6 {
    left: 50%; }
  .col-lg-push-7 {
    left: 58.33333%; }
  .col-lg-push-8 {
    left: 66.66667%; }
  .col-lg-push-9 {
    left: 75%; }
  .col-lg-push-10 {
    left: 83.33333%; }
  .col-lg-push-11 {
    left: 91.66667%; }
  .col-lg-push-12 {
    left: 100%; }
  .col-lg-offset-0 {
    margin-left: 0%; }
  .col-lg-offset-1 {
    margin-left: 8.33333%; }
  .col-lg-offset-2 {
    margin-left: 16.66667%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-4 {
    margin-left: 33.33333%; }
  .col-lg-offset-5 {
    margin-left: 41.66667%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-7 {
    margin-left: 58.33333%; }
  .col-lg-offset-8 {
    margin-left: 66.66667%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-10 {
    margin-left: 83.33333%; }
  .col-lg-offset-11 {
    margin-left: 91.66667%; }
  .col-lg-offset-12 {
    margin-left: 100%; } }

@media (min-width: 1170px) {
  .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
    float: left; }
  .col-xl-1 {
    width: 8.33333%; }
    .col-xl-1.col-xl-1--right {
      float: right; }
  .col-xl-2 {
    width: 16.66667%; }
    .col-xl-2.col-xl-2--right {
      float: right; }
  .col-xl-3 {
    width: 25%; }
    .col-xl-3.col-xl-3--right {
      float: right; }
  .col-xl-4 {
    width: 33.33333%; }
    .col-xl-4.col-xl-4--right {
      float: right; }
  .col-xl-5 {
    width: 41.66667%; }
    .col-xl-5.col-xl-5--right {
      float: right; }
  .col-xl-6 {
    width: 50%; }
    .col-xl-6.col-xl-6--right {
      float: right; }
  .col-xl-7 {
    width: 58.33333%; }
    .col-xl-7.col-xl-7--right {
      float: right; }
  .col-xl-8 {
    width: 66.66667%; }
    .col-xl-8.col-xl-8--right {
      float: right; }
  .col-xl-9 {
    width: 75%; }
    .col-xl-9.col-xl-9--right {
      float: right; }
  .col-xl-10 {
    width: 83.33333%; }
    .col-xl-10.col-xl-10--right {
      float: right; }
  .col-xl-11 {
    width: 91.66667%; }
    .col-xl-11.col-xl-11--right {
      float: right; }
  .col-xl-12 {
    width: 100%; }
    .col-xl-12.col-xl-12--right {
      float: right; }
  .col-xl-pull-0 {
    right: auto; }
  .col-xl-pull-1 {
    right: 8.33333%; }
  .col-xl-pull-2 {
    right: 16.66667%; }
  .col-xl-pull-3 {
    right: 25%; }
  .col-xl-pull-4 {
    right: 33.33333%; }
  .col-xl-pull-5 {
    right: 41.66667%; }
  .col-xl-pull-6 {
    right: 50%; }
  .col-xl-pull-7 {
    right: 58.33333%; }
  .col-xl-pull-8 {
    right: 66.66667%; }
  .col-xl-pull-9 {
    right: 75%; }
  .col-xl-pull-10 {
    right: 83.33333%; }
  .col-xl-pull-11 {
    right: 91.66667%; }
  .col-xl-pull-12 {
    right: 100%; }
  .col-xl-push-0 {
    left: auto; }
  .col-xl-push-1 {
    left: 8.33333%; }
  .col-xl-push-2 {
    left: 16.66667%; }
  .col-xl-push-3 {
    left: 25%; }
  .col-xl-push-4 {
    left: 33.33333%; }
  .col-xl-push-5 {
    left: 41.66667%; }
  .col-xl-push-6 {
    left: 50%; }
  .col-xl-push-7 {
    left: 58.33333%; }
  .col-xl-push-8 {
    left: 66.66667%; }
  .col-xl-push-9 {
    left: 75%; }
  .col-xl-push-10 {
    left: 83.33333%; }
  .col-xl-push-11 {
    left: 91.66667%; }
  .col-xl-push-12 {
    left: 100%; }
  .col-xl-offset-0 {
    margin-left: 0%; }
  .col-xl-offset-1 {
    margin-left: 8.33333%; }
  .col-xl-offset-2 {
    margin-left: 16.66667%; }
  .col-xl-offset-3 {
    margin-left: 25%; }
  .col-xl-offset-4 {
    margin-left: 33.33333%; }
  .col-xl-offset-5 {
    margin-left: 41.66667%; }
  .col-xl-offset-6 {
    margin-left: 50%; }
  .col-xl-offset-7 {
    margin-left: 58.33333%; }
  .col-xl-offset-8 {
    margin-left: 66.66667%; }
  .col-xl-offset-9 {
    margin-left: 75%; }
  .col-xl-offset-10 {
    margin-left: 83.33333%; }
  .col-xl-offset-11 {
    margin-left: 91.66667%; }
  .col-xl-offset-12 {
    margin-left: 100%; } }

.section {
  background-color: #fff; }
  .section--inverse {
    background-color: #131a1d;
    color: #fff; }
  .section--light {
    background-color: #fbfbfb; }
  .section--header {
    background-color: #122a2f;
    display: table-header-group;
    height: 1%; }
  .section--footer {
    background-color: #131316; }
  .section--pd-sm {
    padding: 15px 0 25px; }
  .section--pd-md {
    padding: 50px 0; }

.section--jumbotron {
  text-align: center;
  position: relative;
  background-color: #11343a;
  display: table-row;
  vertical-align: middle;
  height: 100%; }
  .section--jumbotron .jumbotron {
    background-color: #122a2f;
    width: 100%;
    margin: auto;
    padding: 30px 0 60px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%); }
    .section--jumbotron .jumbotron h1 {
      width: 65%;
      margin-left: auto;
      margin-right: auto;
      color: #fff; }

.heading {
  margin-bottom: 60px;
  color: #515151; }
  .heading__small__title {
    color: #515151;
    font-weight: 400; }
  .heading__title {
    color: #000; }
    .heading__title--color-brand {
      color: #ffe600; }
  .heading__description {
    line-height: 1.56;
    font-weight: 300;
    color: #707070; }
  .heading--inverse {
    color: #fff; }
    .heading--inverse .heading__title,
    .heading--inverse .heading__description {
      color: #fff; }
  .heading-slider {
    margin: 0; }
    .heading-slider .heading__title h2 {
      font-size: 20px;
      color: #fff;
      font-weight: 400;
      line-height: 25px; }
    .heading-slider .heading__description p {
      font-weight: 400;
      color: #fff;
      font-weight: 400;
      font-size: 16px; }

.border-bottom {
  text-align: center;
  margin: 20px 0 40px;
  position: relative; }
  .border-bottom:after {
    content: '';
    position: absolute;
    width: 171px;
    height: 2px;
    left: 0;
    right: 0;
    bottom: -100;
    margin: 0 auto;
    background: #ffe600; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?k45wfh");
  src: url("../fonts/icomoon.eot?k45wfh#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?k45wfh") format("truetype"), url("../fonts/icomoon.woff?k45wfh") format("woff"), url("../fonts/icomoon.svg?k45wfh#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-arrow-down:before {
  content: ""; }

.icon-arrow-up:before {
  content: ""; }

.icon-dribble:before {
  content: ""; }

.icon-facebook:before {
  content: ""; }

.icon-google:before {
  content: ""; }

.icon-community:before {
  content: ""; }

.icon-camera:before {
  content: ""; }

.icon-tube:before {
  content: ""; }

.icon-paper-box:before {
  content: ""; }

.icon-ok:before {
  content: ""; }

.icon-hammer:before {
  content: ""; }

.icon-settings:before {
  content: ""; }

.icon-settings-2:before {
  content: ""; }

.icon-house:before {
  content: ""; }

.icon-download:before {
  content: ""; }

.icon-community-2:before {
  content: ""; }

.icon-truck:before {
  content: ""; }

.icon-phone:before {
  content: ""; }

.icon-clock:before {
  content: ""; }

.icon-pen:before {
  content: ""; }

.icon-twitter:before {
  content: ""; }

.icon-css-3:before {
  content: ""; }

.icon-safe-circle:before {
  content: ""; }

.icon-left-arrow:before {
  content: ""; }

.icon-right-arrow:before {
  content: ""; }

.icon-close-icon:before {
  content: ""; }

.icon-menu:before {
  content: ""; }

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  text-decoration: none;
  padding: 15px 45px;
  font-size: 20px;
  line-height: 1.56;
  border-radius: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }
  .btn:hover {
    color: inherit;
    text-decoration: none;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
  .btn.disabled, .btn[disabled],
  fieldset[disabled] .btn {
    cursor: disabled;
    opacity: .65; }
  .btn--fs-sm {
    font-size: 15px; }

a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none; }

.btn--brand {
  color: #fff;
  background-color: #ffe600;
  border-color: #ffe600; }
  .btn--brand:hover {
    color: #fff;
    background-color: #ccb800;
    border-color: #ccb800; }
  .btn--brand:active, .btn--brand.active {
    color: #fff;
    background-color: #ccb800;
    border-color: #ccb800; }
  .btn--brand.disabled, .btn--brand.disabled:hover, .btn--brand.disabled:focus, .btn--brand.disabled.focus, .btn--brand.disabled:active, .btn--brand.disabled.active, .btn--brand[disabled], .btn--brand[disabled]:hover, .btn--brand[disabled]:focus, .btn--brand[disabled].focus, .btn--brand[disabled]:active, .btn--brand[disabled].active,
  fieldset[disabled] .btn--brand,
  fieldset[disabled] .btn--brand:hover,
  fieldset[disabled] .btn--brand:focus,
  fieldset[disabled] .btn--brand.focus,
  fieldset[disabled] .btn--brand:active,
  fieldset[disabled] .btn--brand.active {
    background-color: #ffe600;
    border-color: #ffe600; }

.btn--brand-inverse {
  color: #000;
  background-color: #ffe600;
  border-color: #ffe600; }
  .btn--brand-inverse:hover {
    color: #fff;
    background-color: #ccb800;
    border-color: #ccb800; }
  .btn--brand-inverse:active, .btn--brand-inverse.active {
    color: #fff;
    background-color: #ccb800;
    border-color: #ccb800; }
  .btn--brand-inverse.disabled, .btn--brand-inverse.disabled:hover, .btn--brand-inverse.disabled:focus, .btn--brand-inverse.disabled.focus, .btn--brand-inverse.disabled:active, .btn--brand-inverse.disabled.active, .btn--brand-inverse[disabled], .btn--brand-inverse[disabled]:hover, .btn--brand-inverse[disabled]:focus, .btn--brand-inverse[disabled].focus, .btn--brand-inverse[disabled]:active, .btn--brand-inverse[disabled].active,
  fieldset[disabled] .btn--brand-inverse,
  fieldset[disabled] .btn--brand-inverse:hover,
  fieldset[disabled] .btn--brand-inverse:focus,
  fieldset[disabled] .btn--brand-inverse.focus,
  fieldset[disabled] .btn--brand-inverse:active,
  fieldset[disabled] .btn--brand-inverse.active {
    background-color: #ffe600;
    border-color: #ffe600; }

.btn--link {
  color: #ffe600;
  font-weight: normal;
  border-radius: 0; }
  .btn--link, .btn--link:active, .btn--link.active, .btn--link[disabled],
  fieldset[disabled] .btn--link {
    background-color: transparent;
    box-shadow: none; }
  .btn--link, .btn--link:hover, .btn--link:focus, .btn--link:active {
    border-color: transparent; }
  .btn--link:hover, .btn--link:focus {
    color: #ccb800;
    text-decoration: underline;
    background-color: transparent; }
  .btn--link[disabled]:hover, .btn--link[disabled]:focus,
  fieldset[disabled] .btn--link:hover,
  fieldset[disabled] .btn--link:focus {
    color: #ccc;
    text-decoration: none; }

.btn--block {
  display: block;
  width: 100%; }

.btn--block + .btn--block {
  margin-top: 5px; }

input[type="submit"].btn--block,
input[type="reset"].btn--block,
input[type="button"].btn--block {
  width: 100%; }

label {
  display: inline-block;
  margin-bottom: .5rem; }

input,
button,
select,
textarea {
  margin: 0;
  line-height: inherit; }

textarea {
  resize: vertical; }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit; }

input[type="search"] {
  -webkit-appearance: none; }

.form__group {
  margin-bottom: 25px; }
  .form__group--inverse .form__control {
    color: #fff;
    border-color: #fff; }
    .form__group--inverse .form__control::-webkit-input-placeholder {
      color: #fff; }
    .form__group--inverse .form__control::-moz-placeholder {
      color: #fff; }
    .form__group--inverse .form__control:-ms-input-placeholder {
      color: #fff; }
    .form__group--inverse .form__control::placeholder {
      color: #fff; }

.form__control {
  display: block;
  font-family: Oswald;
  width: 100%;
  height: 55px;
  padding: 15px 20px;
  font-size: 15px;
  line-height: 1.4;
  color: #000;
  background-color: transparent;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0; }
  .form__control::-moz-placeholder {
    color: #999;
    opacity: 1; }
  .form__control::-webkit-input-placeholder {
    color: #999; }
  .form__control:-ms-input-placeholder {
    color: #999; }
  .form__control::placeholder {
    color: #999; }
  .form__control.placeholder {
    color: #999 !important; }
  .form__control:focus::-moz-placeholder {
    color: transparent; }
  .form__control:focus::-webkit-input-placeholder {
    color: transparent; }
  .form__control:focus:-ms-input-placeholder {
    color: transparent; }
  .form__control:focus::placeholder {
    color: transparent; }
  .form__control:focus {
    border-color: none;
    outline: 0; }
  .form__control::-webkit-input-placeholder {
    color: #999;
    opacity: 1; }
  .form__control::-moz-placeholder {
    color: #999;
    opacity: 1; }
  .form__control:-ms-input-placeholder {
    color: #999;
    opacity: 1; }
  .form__control::placeholder {
    color: #999;
    opacity: 1; }
  .form__control[disabled], .form__control[readonly],
  fieldset[disabled] .form__control {
    background-color: #ccc;
    opacity: 1; }
  .form__control[disabled],
  fieldset[disabled] .form__control {
    cursor: disabled; }

.form__label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold; }

.form_help {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #b0b0b0; }

textarea.form__control {
  height: auto; }

input[type="search"] {
  -webkit-appearance: none; }

.anchor--abs {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }

.anchor__link {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: #ffe600;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }
  .anchor__link:hover .anchor__icon {
    color: #000;
    text-decoration: none;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }

.anchor__icon {
  font-size: 18px;
  color: #fff;
  line-height: 60px;
  text-decoration: none; }

.features--inverse__title, .features--inverse__description {
  color: #fff; }

.features--pd-bot {
  padding-bottom: 60px; }

.features__wrapper-icon {
  width: 106px;
  height: 106px;
  background: #ffe600;
  display: inline-block;
  border-radius: 50%; }
  .features__wrapper-icon--mg-right {
    margin-right: 25px; }
  .features__wrapper-icon--smaller {
    width: 70px;
    height: 70px; }

.features__icon {
  color: #fff;
  font-size: 38px;
  z-index: 99;
  line-height: 106px; }
  .features__icon--without-circle {
    color: #ffe600;
    line-height: normal;
    font-size: 45px; }
  .features__icon--smaller {
    font-size: 28px;
    line-height: 70px; }

.features__text-block--overflow {
  overflow: hidden; }

.features__title {
  color: #131316;
  font-weight: 700;
  text-transform: uppercase; }
  .features__title--normal {
    font-weight: 400;
    color: #515151;
    margin-top: 0; }

.features__description {
  font-weight: 300;
  line-height: 25px; }
  .features__description--fs-md {
    font-size: 20px; }

.has-active .features__wrapper-icon {
  background: transparent;
  border: 1px solid #131316; }

.has-active .features__icon {
  color: #ffe600; }

.features--inverse .features__title, .features--inverse .features__description {
  color: #fff; }

.navbar {
  position: relative;
  padding: 15px 0 25px; }
  .navbar:before, .navbar:after {
    content: " ";
    display: table; }
  .navbar:after {
    clear: both; }

.navbar-brand {
  float: left;
  line-height: 1.1; }
  .navbar-brand:hover, .navbar-brand:focus {
    text-decoration: none; }
  .navbar-brand > img {
    display: block; }

.navbar-nav > li {
  position: relative; }

.navbar-nav > li + li:before {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #ffe600;
  top: 0;
  bottom: 0;
  margin: auto; }

.navbar-nav > li > a {
  padding: 10px 26px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none; }
  .navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    color: #ffe600; }

@media (max-width: 720px) {
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none; }
    .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-nav .open .dropdown-menu > li > a:focus {
      background-image: none; } }

@media (min-width: 720px) {
  .navbar-nav {
    float: right;
    margin: 20px 0; }
    .navbar-nav > li {
      float: left; }
      .navbar-nav > li > a {
        padding-top: 15px 0 25px;
        padding-bottom: 15px 0 25px; } }

.portfolio .portfolio__list {
  position: relative;
  padding: 15px 0 25px;
  font-size: 0; }
  .portfolio .portfolio__list > li {
    position: relative;
    display: inline-block; }
  .portfolio .portfolio__list > li + li:before {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #ffe600;
    top: 0;
    bottom: 0;
    margin: auto; }
  .portfolio .portfolio__list > li > a {
    padding: 10px 26px;
    color: #515151;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none; }
    .portfolio .portfolio__list > li > a:hover, .portfolio .portfolio__list > li > a:focus {
      color: #ffe600; }

.footer__copyright {
  display: inline-block;
  color: #fff;
  font-weight: 300;
  margin: 25px 0; }
  .footer__copyright--brand {
    color: #ffe600;
    margin: 0; }

.social-list--mg-bot {
  margin-bottom: 25px; }

.social-list--mg-top {
  margin-top: 25px; }

.social-list__item {
  display: inline-block;
  padding-right: 20px; }

.social-list__link {
  display: inline-block;
  padding: 12px;
  border: 1px solid #fff; }

.social-list__icon {
  font-size: 17px;
  color: #fff;
  display: inline-block;
  -webkit-transition: all 0.4s;
  transition: all 0.4s; }
  .social-list__icon:hover {
    color: #ffe600;
    -webkit-transition: all 0.4s;
    transition: all 0.4s; }

.clients .owl-carousel .item {
  width: 90%;
  margin: 0 auto;
  display: table; }
  .clients .owl-carousel .item a {
    display: table-cell;
    vertical-align: middle; }
    .clients .owl-carousel .item a img {
      max-width: 80%;
      margin: 0 auto; }

.clients .owl-carousel .owl-pagination {
  display: none; }

.clients .owl-theme .owl-controls .owl-buttons div {
  text-align: center;
  width: 31px;
  height: 31px;
  margin-left: 25px;
  background: #ffe600;
  border-radius: 0;
  color: transparent;
  position: relative;
  opacity: 1; }
  .clients .owl-theme .owl-controls .owl-buttons div:hover {
    background: #ccb800; }

.clients .owl-prev:before {
  content: '«' !important; }

.clients .owl-next:before {
  content: '»' !important; }

.clients .owl-next:before, .clients .owl-prev:before {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -60%);
          transform: translate(-50%, -60%);
  font-size: 15px;
  color: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }

.clients .owl-next:hover:before, .clients .owl-prev:hover:before {
  color: #000;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }

.slider {
  text-align: center;
  color: #fff;
  position: relative; }
  .slider .owl-nav {
    display: none; }
  .slider .owl-dot.active {
    background: #fff; }
  .slider .owl-dot {
    background: gray;
    width: 14px;
    height: 14px;
    display: inline-block;
    border-radius: 50%;
    margin: 0 1px; }
  .slider .owl-carousel2 .owl-dots {
    margin-top: 25px; }

.owl-theme .owl-controls .owl-page span {
  border-radius: 0 !important;
  width: 5px !important;
  height: 5px !important;
  background: #fff !important;
  opacity: 1 !important; }

.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
  background: #ffe600 !important;
  opacity: 1 !important; }

.skills .box {
  width: 25%;
  display: inline-block;
  float: left;
  text-align: center;
  text-transform: uppercase;
  color: #ffe600; }

.skills .circle {
  stroke: #ffe600; }

.skills .timer {
  fill: #ffe600;
  font-size: 25px !important; }

.circliful {
  position: relative;
  margin: 0 auto; }

.circle-text, .circle-info, .circle-text-half, .circle-info-half {
  width: 100%;
  position: absolute;
  text-align: center;
  display: inline-block; }

.counter-box {
  border: 1px solid #ffe600;
  background: transparent;
  padding: 30px 60px; }
  .counter-box__number {
    font-weight: 700;
    font-size: 40px;
    display: inline-block;
    color: #fff;
    margin-bottom: 15px; }
  .counter-box__description {
    color: #ffe600;
    text-transform: uppercase;
    white-space: nowrap; }

/* 
 * 	Core Owl Carousel CSS File
 *	v1.3.2
 */
/* clearfix */
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

/* display none until init */
.owl-carousel {
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y; }

.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px); }

.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%; }

.owl-carousel .owl-wrapper-outer.autoHeight {
  -webkit-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out; }

.owl-carousel .owl-item {
  float: left; }

.owl-controls .owl-page,
.owl-controls .owl-buttons div {
  cursor: pointer; }

.owl-controls {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent; }

/* mouse grab icon */
.grabbing {
  cursor: url(grabbing.png) 8 8, move; }

/* fix */
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0); }

/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.2
*/
.owl-theme .owl-controls {
  margin-top: 10px;
  text-align: center; }

/* Styling Next and Prev buttons */
.owl-theme .owl-controls .owl-buttons div {
  color: #FFF;
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */
  margin: 5px;
  padding: 3px 10px;
  font-size: 12px;
  border-radius: 30px;
  background: #869791;
  filter: Alpha(Opacity=50);
  /*IE7 fix*/
  opacity: 0.5; }

/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover {
  filter: Alpha(Opacity=100);
  /*IE7 fix*/
  opacity: 1;
  text-decoration: none; }

/* Styling Pagination*/
.owl-theme .owl-controls .owl-page {
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */ }

.owl-theme .owl-controls .owl-page span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  filter: Alpha(Opacity=50);
  /*IE7 fix*/
  opacity: 0.5;
  border-radius: 20px;
  background: #869791; }

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  filter: Alpha(Opacity=100);
  /*IE7 fix*/
  opacity: 1; }

/* If PaginationNumbers is true */
.owl-theme .owl-controls .owl-page span.owl-numbers {
  height: auto;
  width: auto;
  color: #FFF;
  padding: 2px 10px;
  font-size: 12px;
  border-radius: 30px; }

/* preloading images */
.owl-item.loading {
  min-height: 150px;
  background: url(AjaxLoader.gif) no-repeat center center; }

/* 
 *  Owl Carousel CSS3 Transitions 
 *  v1.3.2
 */
.owl-origin {
  -webkit-perspective: 1200px;
  -webkit-perspective-origin-x: 50%;
  -webkit-perspective-origin-y: 50%;
  -moz-perspective: 1200px;
  -moz-perspective-origin-x: 50%;
  -moz-perspective-origin-y: 50%;
  perspective: 1200px; }

/* fade */
.owl-fade-out {
  z-index: 10;
  -webkit-animation: fadeOut .7s both ease;
  animation: fadeOut .7s both ease; }

.owl-fade-in {
  -webkit-animation: fadeIn .7s both ease;
  animation: fadeIn .7s both ease; }

/* backSlide */
.owl-backSlide-out {
  -webkit-animation: backSlideOut 1s both ease;
  animation: backSlideOut 1s both ease; }

.owl-backSlide-in {
  -webkit-animation: backSlideIn 1s both ease;
  animation: backSlideIn 1s both ease; }

/* goDown */
.owl-goDown-out {
  -webkit-animation: scaleToFade .7s ease both;
  animation: scaleToFade .7s ease both; }

.owl-goDown-in {
  -webkit-animation: goDown .6s ease both;
  animation: goDown .6s ease both; }

/* scaleUp */
.owl-fadeUp-in {
  -webkit-animation: scaleUpFrom .5s ease both;
  animation: scaleUpFrom .5s ease both; }

.owl-fadeUp-out {
  -webkit-animation: scaleUpTo .5s ease both;
  animation: scaleUpTo .5s ease both; }

/* Keyframes */
/*empty*/
@-webkit-keyframes empty {
  0% {
    opacity: 1; } }

@keyframes empty {
  0% {
    opacity: 1; } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-webkit-keyframes backSlideOut {
  25% {
    opacity: .5;
    -webkit-transform: translateZ(-500px); }
  75% {
    opacity: .5;
    -webkit-transform: translateZ(-500px) translateX(-200%); }
  100% {
    opacity: .5;
    -webkit-transform: translateZ(-500px) translateX(-200%); } }

@keyframes backSlideOut {
  25% {
    opacity: .5;
    -webkit-transform: translateZ(-500px);
            transform: translateZ(-500px); }
  75% {
    opacity: .5;
    -webkit-transform: translateZ(-500px) translateX(-200%);
            transform: translateZ(-500px) translateX(-200%); }
  100% {
    opacity: .5;
    -webkit-transform: translateZ(-500px) translateX(-200%);
            transform: translateZ(-500px) translateX(-200%); } }

@-webkit-keyframes backSlideIn {
  0%, 25% {
    opacity: .5;
    -webkit-transform: translateZ(-500px) translateX(200%); }
  75% {
    opacity: .5;
    -webkit-transform: translateZ(-500px); }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0) translateX(0); } }

@keyframes backSlideIn {
  0%, 25% {
    opacity: .5;
    -webkit-transform: translateZ(-500px) translateX(200%);
            transform: translateZ(-500px) translateX(200%); }
  75% {
    opacity: .5;
    -webkit-transform: translateZ(-500px);
            transform: translateZ(-500px); }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0) translateX(0);
            transform: translateZ(0) translateX(0); } }

@-webkit-keyframes scaleToFade {
  to {
    opacity: 0;
    -webkit-transform: scale(0.8); } }

@keyframes scaleToFade {
  to {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8); } }

@-webkit-keyframes goDown {
  from {
    -webkit-transform: translateY(-100%); } }

@keyframes goDown {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); } }

@-webkit-keyframes scaleUpFrom {
  from {
    opacity: 0;
    -webkit-transform: scale(1.5); } }

@keyframes scaleUpFrom {
  from {
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5); } }

@-webkit-keyframes scaleUpTo {
  to {
    opacity: 0;
    -webkit-transform: scale(1.5); } }

@keyframes scaleUpTo {
  to {
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5); } }

.mg-rows {
  position: relative; }

.mg-trigger {
  cursor: pointer; }

.mg-space {
  display: none;
  position: relative;
  width: 100%;
  float: left; }

.mg-target {
  display: none;
  background: #222;
  color: #888; }

.mg-target-open {
  position: absolute;
  top: 0;
  left: 0;
  right: 0; }

.mg-indicator {
  border-bottom: 10px solid #222;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  height: 0;
  position: absolute;
  top: 0;
  width: 0; }

.mg-close {
  display: none;
  background: url(data:image/gif;base64,R0lGODlhFAAUAJEAAE1NTf///////wAAACH5BAEHAAIALAAAAAAUABQAAAIzBISpK+YMm5Enpodw1HlCfnkKOIqU1VXk55goVb2hi7Y0q95lfG70uurNaqLgTviyyUoFADs=) no-repeat center center;
  cursor: pointer;
  height: 30px;
  padding: 7px;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  z-index: 2; }

.mg-close:hover {
  opacity: .5; }

.table {
  display: table;
  width: 100%;
  height: 100vh; }

.mg-trigger {
  text-align: center;
  background: #fff;
  border-bottom: 2px solid #e1e6e6; }

figure {
  margin: 0;
  padding: 0; }
  figure figcaption {
    padding: 20px 0;
    color: #ffe600; }
    figure figcaption .figcaption_header {
      color: #ffe600; }
    figure figcaption .figcaption_description {
      color: #707070; }

.mg-target {
  padding: 15px 15px 30px;
  background: #131316;
  color: #fff; }
  .mg-target h4 {
    color: #ffe600; }
