//## Gray and brand colors
$gray-base:   #efefef !default;
$gray-darker: #a4a4a6 !default;
$gray-dark:   #c6c6c6 !default;
$gray:        #818286 !default;

$brand-color: #ffe600;;


//## Settings for some of the most global styles.
$body-bg:               #fbfbfb !default;
$bg-1:                  #112a2f;
$bg-2:                  #11343a;
$bg-3:                  #122a2f;
$bg-4:                  #131316;
$bg-5:                  #fbfbfb;
$text-color:            #707070;
$link-color:            $brand-color !default;
$link-hover-color:      darken($link-color, 10%) !default;
$link-hover-decoration: underline !default;
$section-padding-sm:    15px 0 25px !default;
$section-padding-md:    50px 0 !default;

//## Typography
$font-family-base:        Oswald,Arial, Helvetica, Tahoma, sans-serif !default;
$font-size-base:          16px;
$line-height-base:        1.56;

$headings-font-family:    inherit !default;
$headings-font-weight:    700 !default;
$headings-line-height:    1.1 !default;
$headings-color:          inherit !default;

$font-size-h1:            65px;
$font-size-h2:            30px;
$font-size-h3:            25px;
$font-size-h4:            20px;
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.85)) !default; // ~12px

$margin-h1:               30px 0!default;
$margin-h2:               20px 0 !default;
$margin-h3:               0 0 20px 0 !default;
$margin-h4:               25px 0 !default;
$margin-h5:               0 0 10px 0 !default;
$margin-h6:               2px 0 !default;


//## Buttons
$btn-font-size:                  20px !default;
$btn-font-weight:                bold !default;
$btn-border-width:               1px !default;
$btn-border-radius:              0 !default;
$btn-padding-vertical:           15px !default;
$btn-padding-horizontal:         45px !default;

$btn-brand-color:                #fff !default;
$btn-brand-bg:                   $brand-color !default;
$btn-brand-border:               $brand-color !default;

$btn-brand-color-hover:          #fff !default;
$btn-brand-bg-hover:             darken($brand-color, 10%) !default;
$btn-brand-border-hover:         darken($brand-color, 10%) !default;

$btn-link-disabled-color:        #ccc !default;


// ## Forms
$input-bg:                       transparent !default;
$input-bg-disabled:              #ccc !default;
$input-color:                    #000 !default;
$input-border:                   #ccc !default;
$input-border-radius:            0 !default;
$input-border-focus:             none !default;
$input-color-placeholder:        #999 !default;

$input-color-inverse:            #fff;
$input-border-inverse:           #fff;


$input-height-base:              55px  !default;
$input-font-size:                15px !default;
$input-line-height:              1.4 !default;
$input-border-width:             1px !default;
$input-line-height-computed:     floor($input-font-size * $input-line-height) !default;

$input-padding:                  ($input-height-base - $input-line-height-computed - $input-border-width) / 2 !default;
$input-padding-vertical:         15px !default;
$input-padding-horizontal:       20px !default;

$form-group-margin-bottom:       15px !default;
$cursor-disabled:                not-allowed !default;




