/// Variables

@import 'variables';

// elements
@import 'reset';
@import 'type';
@import 'grid';
@import 'base';
@import "icon/style";
@import 'buttons';
@import 'forms';


////// Components
@import "components/anchor-links";
@import 'components/features';
@import 'components/navbar';
@import 'components/footer';
@import 'components/list';


/// Interactive Components 

@import "components/sliders";
@import "components/progress-bar";
@import "components/counter-box";

@import "../../bower_components/owl-carousel/owl-carousel/owl.carousel";
@import "../../bower_components/owl-carousel/owl-carousel/owl.theme";
@import "../../bower_components/owl-carousel/owl-carousel/owl.transitions";
@import "../../bower_components/mg-space/src/mg-space";

.table{
	display: table;
	width: 100%;
  	height: 100vh;	
}
.mg-trigger{
    text-align: center;
    background: #fff;
    border-bottom: 2px solid #e1e6e6;   
}
figure{
    margin: 0;
    padding: 0;
    
    figcaption{
        padding: 20px 0;
		color: $brand-color;
        .figcaption_header{
        	color: $brand-color;
        }
        .figcaption_description{
        	color: #707070;
        }        
    }
}
.mg-target {
  	padding: 15px 15px 30px;
  	background: #131316;
  	color: #fff;
  	h4{
  		color: $brand-color;	
  	}
}