/// Variables

@import 'variables';

// elements
@import 'reset';
@import 'type';
@import 'grid';
@import 'base';
@import "icon/style";
@import 'buttons';
@import 'forms';


////// Components
@import "components/anchor-links";
@import 'components/features';
@import 'components/navbar';
@import 'components/footer';
@import 'components/list';


/// Interactive Components 

@import "components/sliders";
@import "components/progress-bar";
@import "components/counter-box";

@import "../../bower_components/owl-carousel/owl-carousel/owl.carousel";
@import "../../bower_components/owl-carousel/owl-carousel/owl.theme";
@import "../../bower_components/owl-carousel/owl-carousel/owl.transitions";
@import "../../bower_components/mg-space/src/mg-space";

.table{
	display: table;
	width: 100%;
  	height: 100vh;	
}
