$icomoon-font-path: "fonts" !default;

$icon-arrow-down: "\e900";
$icon-arrow-up: "\e901";
$icon-dribble: "\e902";
$icon-facebook: "\e903";
$icon-google: "\e904";
$icon-community: "\e905";
$icon-camera: "\e906";
$icon-tube: "\e907";
$icon-paper-box: "\e908";
$icon-ok: "\e909";
$icon-hammer: "\e90a";
$icon-settings: "\e90b";
$icon-settings-2: "\e90c";
$icon-house: "\e90d";
$icon-download: "\e90e";
$icon-community-2: "\e90f";
$icon-truck: "\e910";
$icon-phone: "\e911";
$icon-clock: "\e912";
$icon-pen: "\e913";
$icon-twitter: "\e914";
$icon-css-3: "\e915";
$icon-safe-circle: "\e916";
$icon-left-arrow: "\e917";
$icon-right-arrow: "\e918";
$icon-close-icon: "\e919";
$icon-menu: "\e9bd";

